<!DOCTYPE html>
<html>
<head>
  <title>Boys and Girls Clubs of the South Bay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

</head>
<body>

	
	<%= render 'layouts/navbar' %>


<%= yield %>

<hr>
<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Boys and Girls Clubs of the South Bay</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

</body>
</html>
